html {
    min-height: 100%;
}

body{
    margin: 0;
}

#gameModeSelector {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .game-mode {
    padding: 10px;
    margin: 5px;
    border: 2px solid #333;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f0f0f0;
    text-align: center;
    width: 200px;
  }
  
  .game-mode:hover {
    background-color: #ddd;
  }
  
  #pong-tournament {
    font-weight: bold;
  }
  
  